* {
    box-sizing: border-box;
}

html,
body {
    font-size: 2.5vw; //sets a base font size of 16px for creative set to a width of 640px
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    padding: 0;
    margin: 0;

    @include large {
        font-size: 16px;
    }
}

html {
    height: 100%;
}

body {
    background: radial-gradient(ellipse at center, $colorDarkRed 0%, $colorDarkPurple 100%);
    min-height: 100%;
    color: white;
}

h2 {
    font-weight: bold;
    font-size: cRems(30px);
    line-height: 1.4;
    margin-bottom: cRems(20px);
}

h3 {
    font-size: cRems(20px); 
    line-height: 1.4;
    margin-bottom: cRems(40px);
}

p {
    font-size: cRems(20px); 
    line-height: 1.4;
    margin-bottom: cRems(20px);
}

img {
    width: 100%;
}

video {
    width: 100%;
}

.video-wide {
    max-width: cRems(650px);
}

.video-tall {
    max-width: cRems(400px);
}

.callout-frame {
    border: #ffffff 1px solid;
}

.page-title {
    font-weight: bold;
    margin-bottom: cRems(20px);
}

.margin-btm {
    margin-bottom: cRems(60px);
}

// Fade out
.fade-out-enter-active {
    transition: opacity 1s ease-out, margin-top 1s ease-in;  
    transition-delay: 1.5s;
}

.fade-out-leave-active {
    transition: opacity 1s ease-out, margin-top 1s ease-in;
    transition-delay: .4s;
}

.fade-out-enter {
    opacity: 0;
}

.fade-out-leave-to {
    margin-top: cRems(-150px);
    opacity: 0;
}

// Fade
.fade-enter-active {
    transition: opacity 1s ease-in;
    transition-delay: 1s;
}

.fade-leave-active {
    transition: opacity 1s ease-in;
    transition-delay: 0s;
}

.fade-enter, .fade-leave-to {
    opacity: 0;
}

@include small {
    .do {
        display: none !important;
    }
}

@include medium {
    .mo {
        .small-only {
            display: none !important;
        }
    }
}