* {
    box-sizing: border-box;
}

html,
body {
    font-size: 2.5vw; //sets a base font size of 16px for creative set to a width of 640px
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    padding: 0;
    margin: 0;

    @include large {
        font-size: 16px;
    }
}

html {
    height: 100%;
}

body {
    background: radial-gradient(ellipse at center, $colorDarkRed 0%, $colorDarkPurple 100%);
    min-height: 100%;
}

#app {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

// .fadeOut {
//     transition: opacity 1s ease-out;
//     opacity: 0;
// }

// .fadeIn {
//     transition: opacity 1s ease-in;
//     opacity: 1;
// }

.fade-enter-active, .fade-leave-active {
    transition: opacity 2s ease-out;
}

.fade-enter, .fade-leave-to {
    opacity: 0;
}

.main-heart {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: width 1s, height 1s;
    width: cRems(500px);
    height: cRems(500px);

    &.fullHeight {
        width: 100%;
        height: 80%;
    }
}

@include small {
    .do {
        display: none !important;
    }
}

@include medium {
    .mo {
        .small-only {
            display: none !important;
        }
    }
}