#light-box-canvas {
    position: relative;
    transform: rotate(45deg);
    opacity: .5;
    transition: opacity 2s;
    background: radial-gradient(ellipse at center, rgba(47, 18, 94, 0.55) 0%, rgba(47, 18, 93, 0.5) 1%, rgba(25, 9, 49, 0) 48%, rgba(24, 9, 47, 0) 50%, rgba(0, 0, 0, 0) 100%);

    &.bright {
        opacity: 1;
    }
}
