.name {
    position: absolute;
    cursor: pointer;
    top: 50%;
    transition: top 1s;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &.topPage {
        top: 0;

        h2 {
            font-size: cRems(40px);
            letter-spacing: cRems(7px);
        }
    }
    
    h2 {
        color: white;
        font-family: 'Merriweather Sans', sans-serif;
        font-size: cRems(24px);
        font-weight: bold;
        letter-spacing: cRems(10px);   
        margin: 0 0 cRems(25px);
        transition: font-size 1s, color 1s, letter-spacing 1s;
    }

    .name_line {
        border-bottom: solid white 1px;
        width: 0;
        opacity: 0;
        transition: width 1s, opacity 1s, border-color 1s;
        
        &.active {
            width: 100%;
            opacity: 1;
            transition: width 1.5s;
            transition-delay: 0.5s;
        }
    }
}