#name_container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.name {
    padding: 0;
    display: flex;
    justify-content: center;
    overflow: hidden;
    margin: 0 auto;

    .letter {
        font-size: 7rem;
        color: #ff0099;
        opacity: 1;
        transition: all 0.5s ease-in-out;

        &.greeting {
            opacity: 0;
            color: purple;
            display: none;
        }
    }
    &.hidden {
        .letter {
            font-size: 7rem;
            color: rgb(133, 74, 133);

            &.greeting {
                color: antiquewhite;
                opacity: 1;
                display: block;
                transition: all 0.5s ease-in-out;
            }
            &.my_name {
                opacity: 0;
                max-width: 0;
                display: none;
            }
        }
    }
}