$colorBlack: #000000;
$colorWhite: #ffffff;
$colorDarkRed: #0f0e0e;
$colorDarkPurple: #160516;
$colorHotPink: #ff0099;
$colorBrightGreen: #00FF00;
$colorBtnHover: whitesmoke;

$base_font_size: 16px;
$large: 768px;
$medium: (($base_font_size/$large)*100) + vw;
